.map-and-tripInfo{
  display: flex;
  width: 100vw;         /* Full width of the screen */
  min-height: 100vh;    /* Full height of the screen */
  margin: 15px;
  padding: 15;
  background: rgb(224, 218, 218);
  border-radius: 15px;

}

.map-container {
  flex: 1;
  background: rgb(224, 218, 218);
  padding: 2rem;
  padding-top: 5px;
  border-radius: 15px;
  height: 650px;
  margin: 15px;
}

.trip-container{
 flex: 1;
  background: rgb(200, 180, 180);
  padding: 2rem;
  padding-top: 5px;
  border-radius: 15px;
  height: 650px;
  margin: 15px;
}

.trip-input-container {
  background: rgb(222, 214, 214);
  padding: 2rem;
  border-radius: 15px;
  margin: 5px;
}
.input-group {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 5px;
  color: #555;
}

input, select {
  padding: 12px;
  border: 1.5px solid #eee;
  border-radius: 8px;
  transition: border-color 0.2s;
}

input:focus {
  outline: none;
  border-color: #6366f1;
}

.flex-row {
  display: flex;
  gap: 15px;
}

.btn-submit {
  width: 100%;
  background: #6366f1;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.welcome{
  padding: 10px;
  font-style: italic;
}