.map-and-tripInfo{
  display: flex;
  width: 100vw;         /* Full width of the screen */
  min-height: 100vh;    /* Full height of the screen */
  margin: 0;
  padding: 0;
}

.map-container{
  flex: 1;
  background: rgb(221, 204, 204);

}

.trip-container {
  flex: 1;
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 450px;
  margin: 20px;
  justify-content: right;
}

.trip-input-container {
  background: rgb(162, 231, 251);
  padding: 2rem;
  border-radius: 15px;
  max-width: 450px;
  margin: 5px;
}

.schedule-list-container{
  background: rgb(195, 183, 239);
  padding: 2rem;
  border-radius: 15px;
  max-width: 450px;
  margin: 5px;
  justify-content: right;
}

.input-group {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 5px;
  color: #555;
}

input, select {
  padding: 12px;
  border: 1.5px solid #eee;
  border-radius: 8px;
  transition: border-color 0.2s;
}

input:focus {
  outline: none;
  border-color: #6366f1;
}

.flex-row {
  display: flex;
  gap: 15px;
}

.btn-submit {
  width: 100%;
  background: #6366f1;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.welcome{
  padding: 10px;
  font-style: italic;
}