.map-and-tripInfo{
  display: flex;
  gap: 20px;                 /* spacing between map + trip */
  padding: 20px;
  max-width: 1400px;         /* prevents full screen stretch */
  margin: 0 auto; 
}

.map-container,
.trip-container{
  flex: 1;
  padding: 2rem;
  border-radius: 15px;
}

.trip-input-container {
  background: rgb(225, 154, 154);
  padding: 2rem;
  border-radius: 15px;
  margin: 5px;
}

.schedule-list-container{
  background: #780000;
  padding: 2rem;
  border-radius: 15px;
  margin: 5px;
}

.input-group {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 5px;
  color: #555;
}

input, select {
  padding: 12px;
  border: 1.5px solid #eee;
  border-radius: 8px;
  transition: border-color 0.2s;
}

input:focus {
  outline: none;
  border-color: #5456d2;
}

.flex-row {
  display: flex;
  gap: 15px;
}

.btn-submit {
  width: 100%;
  background: #161883;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.welcome{
  padding: 10px;
  font-style: italic;
}


/* Base container */
.landingpage {
  transition: background 0.3s, color 0.3s;
  min-height: 100%;
  padding: 2rem;
}

/* Light mode */
.landingpage.light {
  background-color: white;
  color: black;
}

/* Dark mode */
.landingpage.dark {
  background-color: #003049;
  color: white;
}

/* Nested elements inherit colors */
.landingpage.light .welcome,
.landingpage.light .trip-container h2,
/* .landingpage.light .schedule-list-container, */
.landingpage.light .schedule-list-container h1 {
  color: black;
}

.landingpage.dark .welcome,
.landingpage.dark .trip-container h2,
/* .landingpage.light .schedule-list-container, */
.landingpage.dark .schedule-list-container h1 {
  color: white;
}

/* Example: background for trip-container */
.landingpage.light .trip-container {
  background-color: #bc4749;
}

.landingpage.dark .trip-container {
  background-color: #669BBC;
}

.landingpage.light .schedule-list-container {
  background-color: #708d81;
}

.landingpage.dark .schedule-list-container {
  background-color: #fca311;
  /* #033c60; */
}

.welcome-container {
  display: flex;           /* side by side */
  align-items: center;     /* vertically center */
  gap: 1rem;               /* space between text and image */
}

.theme-image {
  width: 80px;             /* adjust as needed */
  height: auto;
}

.button{
  margin-left: auto;
}
